MES/CommTester/CommTester/communicationSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) von Thomas Eiberle (Robert Bosch GmbH) bearbeitet -->
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Thomas Eiberle (Robert Bosch GmbH) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Mader (Robert Bosch GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="location">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="lineNo" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:unsignedInt">
                            <xs:minInclusive value="1" />
                            <xs:maxInclusive value="9999" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="statNo" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:unsignedInt">
                            <xs:minInclusive value="1" />
                            <xs:maxInclusive value="9999" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="statIdx" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:unsignedInt">
                            <xs:minInclusive value="1" />
                            <xs:maxInclusive value="9999" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="fuNo" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:unsignedInt">
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="8" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="workPos" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:unsignedInt">
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="9999" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="toolPos" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:unsignedInt">
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="9999" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="processNo" type="xs:unsignedInt" use="optional" />
                      <xs:attribute name="processName" type="xs:string" use="optional" />
                      <xs:attribute name="application" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="eventId" type="xs:unsignedInt" use="required" />
            <xs:attribute name="eventName" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="version" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="16" />
                  <xs:minLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="eventSwitch" type="xs:int" use="optional" />
            <xs:attribute name="timeStamp" type="xs:dateTime" use="optional" />
            <xs:attribute name="user" type="xs:string" />
            <xs:attribute name="pwd" type="xs:string" />
            <xs:attribute name="contentType" type="xs:int" />
          </xs:complexType>
        </xs:element>
        <xs:element name="event">
          <xs:complexType>
            <xs:choice>
              <xs:choice>
                <xs:element name="plcOperationModeChanged">
                  <xs:complexType>
                    <xs:attribute name="typeNo" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="shift" type="xs:int" use="optional" />
                    <xs:attribute name="charge" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="specPrgNo" type="xs:int" use="optional" />
                    <xs:attribute name="operationMode" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:minInclusive value="1" />
                          <xs:maxInclusive value="4" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="modeOn" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:boolean" />
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcChangeOverStarted">
                  <xs:complexType>
                    <xs:attribute name="typeNo" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcChangeOver">
                  <xs:complexType>
                    <xs:attribute name="typeNo" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcEventOn" />
                <xs:element name="plcEventOff" />
                <xs:element name="plcSystemStarted">
                  <xs:complexType>
                    <xs:attribute name="typeNo" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcStationSwitchedOff" />
                <xs:element name="plcError">
                  <xs:complexType>
                    <xs:attribute name="typeNo" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="errorNo" type="xs:int" use="required" />
                    <xs:attribute name="errorText" type="xs:string" use="required" />
                    <xs:attribute name="errorType" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:minInclusive value="1" />
                          <xs:maxInclusive value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="errorState" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:minInclusive value="0" />
                          <xs:maxInclusive value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="operationMode" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:minInclusive value="1" />
                          <xs:maxInclusive value="4" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="modeOn" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:boolean" />
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="chainNo" type="xs:int" use="optional" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="partReceived">
                  <xs:complexType>
                    <xs:attribute name="identifier" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeNo">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="partStateChanged" />
                <xs:element name="partProcessed">
                  <xs:complexType>
                    <xs:attribute name="identifier" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="dataUploadRequired" />
                <xs:element name="dataDownloadRequired" />
                <xs:element name="partDisplaced">
                  <xs:complexType>
                    <xs:attribute name="oldIdentifier" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="identifier" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="partProcessingStarted">
                  <xs:complexType>
                    <xs:attribute name="identifier" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="partProcessingPaused">
                  <xs:complexType>
                    <xs:attribute name="identifier" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="partProcessingAborted">
                  <xs:complexType>
                    <xs:attribute name="identifier" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcPartsMissingStarted">
                  <xs:complexType>
                    <xs:attribute name="missingParts" type="xs:unsignedInt" use="required" />
                    <xs:attribute name="typeNo" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcPartsMissing">
                  <xs:complexType>
                    <xs:attribute name="missingParts" type="xs:unsignedInt" use="required" />
                    <xs:attribute name="typeNo" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcJamStarted">
                  <xs:complexType>
                    <xs:attribute name="typeNo" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcJam">
                  <xs:complexType>
                    <xs:attribute name="typeNo" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcOperatorRequiredStarted">
                  <xs:complexType>
                    <xs:attribute name="operator" type="xs:unsignedInt" use="required" />
                    <xs:attribute name="typeNo" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcOperatorRequired">
                  <xs:complexType>
                    <xs:attribute name="operator" type="xs:unsignedInt" use="required" />
                    <xs:attribute name="typeNo" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVar" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="typeVersion" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcShiftChanged">
                  <xs:complexType>
                    <xs:attribute name="shift" type="xs:unsignedInt" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcChargeChanged">
                  <xs:complexType>
                    <xs:attribute name="charge" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcMaterialChangeStarted">
                  <xs:complexType>
                    <xs:attribute name="identifier" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="oldIdentifier">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="oldQuantity" type="xs:double" />
                    <xs:attribute name="name">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcMaterialChanged">
                  <xs:complexType>
                    <xs:attribute name="identifier" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="oldIdentifier">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="oldQuantity" type="xs:double" />
                    <xs:attribute name="name">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcToolChangeStarted">
                  <xs:complexType>
                    <xs:attribute name="identifier" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="oldIdentifier">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="name">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcToolChanged">
                  <xs:complexType>
                    <xs:attribute name="identifier" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="oldIdentifier">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="name">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcLogIn">
                  <xs:complexType>
                    <xs:attribute name="user" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="80" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="pwd" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="plcLogOff" />
              </xs:choice>
              <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element name="result">
                  <xs:complexType mixed="true">
                    <xs:attribute name="returnCode" type="xs:int" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="trace">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="trace" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:attribute name="level" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="warning" />
                                <xs:enumeration value="error" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="code" type="xs:unsignedInt" use="required" />
                          <xs:attribute name="text" type="xs:string" use="required" />
                          <xs:attribute name="source" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="body" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>